<ion-header>
  <ion-toolbar>
    <div class="cwifi">      
      <i class="fa fa-wifi"></i> <!-- Ícono de Wi-Fi -->
      <i class="fa fa-signal"></i>
      <i class="fa fa-battery-full"></i>
      <span>{{ horaActual }}</span> <!-- Muestra la hora aquí -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-title class="app">SkeletonAPP </ion-title>
  <ion-title class="subtitulo">Aqui comienza todo</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <div class="otrotitulo">Bienvenido!</div>
  <ion-list>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input [(ngModel)]="inputValue" name="inputValue" #inputField="ngModel" required minlength="3" maxlength="8"></ion-input>
      </ion-item>
  </ion-list>
  <ion-list>
    <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password" (input)="maskPassword()" #inputField="ngModel" required minlength="4" maxlength="4"></ion-input>
    </ion-item>
  </ion-list>
  <div><br></div>
  <div class="ingresar"><ion-button expand="full" (click)="redirigirAPagina()" [disabled]="!inputField.valid">Ingresar</ion-button></div>
  <div><br></div>
  <div class="a"><a href="Crea tu cuenta gratis">Crea tu cuenta gratis</a></div>
  <div><br></div>
  <div *ngIf="inputField.invalid && (inputField.dirty || inputField.touched)">
    <p *ngIf="inputField.errors?.['required']">Este campo es obligatorio.</p>
    <p *ngIf="inputField.errors?.minlength">El usuario debe tener al menos 3 caracteres.</p>
    <p *ngIf="inputField.errors?.maxlength">El usuario no debe tener más de 8 caracteres.</p>
  </div>
</ion-content>