@import "~font-awesome/css/font-awesome.css";
@import "~font-awesome/css/font-awesome.min.css";

.cwifi {
  position: absolute ;
  top: 0;
  right: 0;
  padding: 15px; /* Relleno interno (ajústalo según tus necesidades) */
}

.new-background-color{
  --background: #dddddd8c;
}

.fondotitulo{
  --background: #dddddd;
}

.h1{
  text-align: center;
  font-size: 45px;
}